.corpo {
    top: 10%;
    height: 80%;
    width: 80%;
    left: 10%;
    position: absolute;
}

.example-full-width {
    width: 20%;
    padding-right: 2%;
}

.tableFilter{
    width: 100%;
}

table {
    width: 100%;
}

h1 {
    color: #0984e3;
}

button {
    color: #0984e3;
}