<form [formGroup]="formulario" (ngSubmit)="gravarConteudo()">
    <div mat-dialog-content>
        <h1>Cadastrar novo usuário</h1>
        <mat-form-field class="example-full-width">
            <mat-label>Nome</mat-label>
            <input matInput formControlName="nome">
        </mat-form-field>
        <mat-form-field class="example-full-width">
            <mat-label>Matricula</mat-label>
            <input matInput formControlName="matricula">
        </mat-form-field>
        <mat-form-field class="example-full-width">
            <mat-label>E-mail</mat-label>
            <input matInput placeholder="teste@email.com" formControlName="email">
        </mat-form-field>
        <mat-form-field class="example-full-width">
            <mat-label>Setor</mat-label>
            <select matNativeControl required formControlName="setor">
                <option *ngFor="let setor of setores" value="{{setorSelecionado.nome}}">{{setorSelecionado.nome}}</option>
            </select>
        </mat-form-field>
        <mat-form-field class="example-full-width">
            <mat-label>Usuário</mat-label>
            <input matInput placeholder="nome.sobreNome" formControlName="usuario">
        </mat-form-field>
        <mat-form-field class="example-full-width">
            <mat-label>Senha</mat-label>
            <input matInput formControlName="senha">
        </mat-form-field>
        <mat-form-field class="example-full-width">
            <mat-label>Ramal</mat-label>
            <input matInput placeholder="1210" formControlName="ramal">
        </mat-form-field>
        <mat-form-field class="example-full-width">
            <mat-label>Data Nascimento</mat-label>
            <input matInput [matDatepicker]="picker" formControlName="dataNascimento">
            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>
        <mat-form-field class="example-full-width">
            <mat-label>Perfil</mat-label>
            <select matNativeControl required formControlName="perfil">
                <option *ngFor="let perfil of perfis" value="{{perfil}}">{{perfil}}</option>
            </select>
        </mat-form-field>

    </div>
    <div mat-dialog-actions>
        <button mat-button (click)="onNoClick()">Cancelar</button>
        <button mat-button type="submit">Salvar</button>
    </div>
</form>