<form [formGroup]="formulario" (ngSubmit)="gravarConteudo()">
    <div mat-dialog-content>
        <h1>Editar setor</h1>
        <mat-form-field class="example-full-width" disabled="true">
            <mat-label>ID</mat-label>
            <input matInput formControlName="id" disabled="true">
        </mat-form-field>
        <mat-form-field class="example-full-width" style="width: 100%;">
            <mat-label>Nome</mat-label>
            <input matInput formControlName="nome">
        </mat-form-field>
    </div>
    <div mat-dialog-actions>
        <button mat-button (click)="onNoClick()">Cancelar</button>
        <button mat-button type="submit">Salvar</button>
    </div>
</form>